<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-button ID = "hamburguesa" (click)="mostrarMenu()" color="contrast">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
       </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
         <ion-img src="/assets/icono.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title ID = "titulokkk" color="contrast">InfoGaming</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
  <ion-card-header>
  <ion-card-title>¿Para qué es esta aplicación?</ion-card-title>
  </ion-card-header>
  <ion-img src="/assets/naoto.gif"></ion-img>
  <ion-card-content>
    Esta aplicación esta hecha por Gamers y para Gamers, mantenemos noticias actualizadas sobre el mundo gaming como Juegos, Nuevos lanzamientos, etc.
    <br>
    También podras encontrar informacion sobre juegos, tips entre otros.
    <br><br>
    <ion-card-title>¿Pero por qué no puedo acceder a las demas páginas?</ion-card-title>
    <br>
    <ion-button href="/registro"expand="full">Registrate para el acceso!</ion-button>
  </ion-card-content>
</ion-card>



</ion-content>
