<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-button ID = "hamburguesa" (click)="mostrarMenu()" color="contrast">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
       </ion-button>
    </ion-buttons>
    <ion-title ID = "titulokkk">Info Gaming</ion-title>
    <ion-icon ID = "hamburguesa" (click)="logout()" name="exit-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="fondologin">
  <br><br>
  <ion-item ID = "titulokkk" color="mycolor">
    <ion-label>
      NOVEDADES GAMING
    </ion-label>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Confirmados los 6 juegos de PS Plus de noviembre</ion-card-title>
      <ion-card-subtitle>Knockout City, Kingdoms of Amalur y más</ion-card-subtitle>
    </ion-card-header>
    <ion-img src="/assets/noticia1.jpg"></ion-img>
    <ion-card-content>
      Después de que una filtración desvelase algunos de los juegos de PS Plus de noviembre ayer mismo, hoy PlayStation ha confirmado cuáles son los títulos que los suscriptores de este servicio podrán descargar en PS5 y PS4 a partir del martes 2 de noviembre. En total, son seis los videojuegos que aquellas personas cuya membresía siga activa podrán descargar a lo largo de este mes, aunque tres de ellos, los exclusivos de PlayStation VR, estarán disponibles hasta enero.
      <br>
      Estos son los seis juegos de PS Plus de noviembre de 2021:
      <ion-title size="small">Knockout City (PS5 y PS4) hasta el 6 de diciembre</ion-title>
      <ion-title size="small">First Class Trouble (PS5 y PS4) hasta el 6 de diciembre</ion-title>
      <ion-title size="small">Kingdoms of Amalur: Re-Reckoning (PS4) hasta el 6 de diciembre</ion-title>
      <ion-title size="small">The Persistence (PS VR) hasta el 3 de enero</ion-title>
      <ion-title size="small">The Walking Dead: Saints & Sinners (PS VR) hasta el 3 de enero</ion-title>
      <ion-title size="small">Until You Fall (PS VR) hasta el 3 de enero</ion-title>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/9NQTzWTUesc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bright Memory: Infinite llegará el 11 de noviembre a PC y más adelante a Xbox Series X/S</ion-card-title>
      <ion-card-subtitle>La versión de PC de Bright Memory: Infinite se lanzará el 11 de noviembre en Steam y GOG. Quienes tengan el juego original recibirán esta entrega gratis. Todavía no tiene fecha en Xbox Series X/S.</ion-card-subtitle>
    </ion-card-header>
    <ion-img src="/assets/noticia2.jpg"></ion-img>
    <ion-card-content>
      Bright Memory: Infinite ya tiene fecha de lanzamiento, aunque de momento sólo para la versión de PC: la desarrolladora china FYQD-Studio y la editora Playism han confirmado hoy que este esperado juego de disparos en primera persona se estrenará mundialmente el 11 de noviembre tanto en Steam como en GOG. La versión de Xbox Series X/S, consola de nueva generación con la que este título tiene un acuerdo de exclusividad, todavía no tiene fecha confirmada.      
      <br><br>
      <ion-card-title>Características propias en PC, skins y más</ion-card-title>
      <br>
      Bright Memory: Infinite contará con algunas ventajas gráficas propias para PC, como el trazado de rayos que vimos hace unos meses en un espectacular tráiler. También será compatible con pantallas panorámicas de 21:9, DLSS de Nvidia, control por mando de Xbox y TAA de quinta generación. Además, hoy se ha confirmado que el juego contará con skins tanto para la protagonista como para sus armas; algunas se podrán comprar y otras desbloquear, pero aseguran que todas serán meros complementos cosméticos y que no alterarán la jugabilidad.
      <br><br>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5K5mMGR5CDo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </ion-card-content>
  </ion-card>

  <ion-item ID = "titulokkk" color="mycolor">
    <ion-label>
      JUEGOS
    </ion-label>
  </ion-item>

  

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Categoria: Juegos Online</ion-card-subtitle>
      <ion-card-title>Counter Strike Global Offensive</ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/cs-strike.png"></ion-img>
    <ion-card-content>
      <ion-card-subtitle>¿De qué se trata el juego?</ion-card-subtitle>
      Es un videojuego de disparos en primera persona desarrollado por Valve Corporation en cooperación con Hidden Path Entertainment, de modalidad online 5 vs 5.
      <br><br>
      <ion-card-subtitle>Fecha de estreno inicial:</ion-card-subtitle> 21 de agosto de 2012<br><br>
      <ion-card-subtitle>Motor:</ion-card-subtitle> Source<br><br>
      <ion-card-subtitle>Modo:</ion-card-subtitle> Videojuego multijugador<br><br>
      <ion-card-subtitle>Plataformas:</ion-card-subtitle> Microsoft Windows, macOS, GNU/Linux, Xbox 360, Mac OS Classic, PlayStation 3<br><br>
      <ion-card-subtitle>Diseñadores:</ion-card-subtitle> Jess Cliffe, Minh Le<br><br>
      <ion-card-subtitle>Desarrolladores: </ion-card-subtitle>Valve Corporation, Hidden Path Entertainment<br><br>
      <ion-card-subtitle>Premios:</ion-card-subtitle> The Game Award al Mejor Juego de eSports<br><br>
      <br><br>
      <ion-card-title>Explicación rápida del Juego</ion-card-title>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/CKtNY1w5sS8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br><br>
      <ion-card-title>Tips del Juego</ion-card-title>
      <ion-card-subtitle>Como ser el mejor en el Juego!</ion-card-subtitle>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/78m-k2Ad1Lc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <ion-button href="https://store.steampowered.com/app/730/CounterStrike_Global_Offensive/?l=spanish" target="_blank">Enlace a Steam</ion-button>
    </ion-card-content>
  </ion-card>
 
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Categoria: Juegos Online</ion-card-subtitle>
      <ion-card-title>BlazBlue: Central Fiction</ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/blazblue.jpg"></ion-img>
    <ion-card-content>
      <ion-card-subtitle>¿De qué se trata el juego?</ion-card-subtitle>
      Juego de peleas 2D dessarollador por ArcSystemWorks. La última parte de la saga Blazblue, dándole fin a la saga del Azure.
      <br><br>
      <ion-card-subtitle>Fecha de estreno inicial:</ion-card-subtitle> 19 de noviembre de 2015<br><br>
      <ion-card-subtitle>Serie:</ion-card-subtitle> BlazBlue<br><br>
      <ion-card-subtitle>Modos:</ion-card-subtitle> Videojuego de un jugador, Videojuego multijugador<br><br>
      <ion-card-subtitle>Plataformas:</ion-card-subtitle> PlayStation 4, Microsoft Windows, Máquina de arcade, Arcade, Nintendo Switch, PlayStation 3<br><br>
      <ion-card-subtitle>Diseñadores:</ion-card-subtitle> Toshimichi Mori, Yūki Katō<br><br>
      <ion-card-subtitle>Desarrollador: </ion-card-subtitle>Arc System Works<br><br>
      <ion-card-subtitle>Distribuidores:</ion-card-subtitle> Arc System Works, Aksys Games, H2 Interactive<br><br>
      <br><br>
      <ion-card-title>Explicación rápida del Juego</ion-card-title>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/aSFNwfAgq_A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      <br><br>
      <ion-card-title>Tips del Juego</ion-card-title>
      <ion-card-subtitle>Como ser el mejor en el Juego!</ion-card-subtitle>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/RR-ooCCR5XA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
      <ion-button href="https://store.steampowered.com/app/586140/BlazBlue_Centralfiction/" target="_blank">Enlace a Steam</ion-button>  
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Categoria: Juegos Online</ion-card-subtitle>
      <ion-card-title>League of Legends</ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/lol.jpeg"></ion-img>
    <ion-card-content>
      <ion-card-subtitle>¿De qué se trata el juego?</ion-card-subtitle>
      League of Legends es un videojuego del género multijugador de arena de batalla en línea y deporte electrónico el cual fue desarrollado por Riot Games para Microsoft Windows y OS X y para consolas digitales.
      <br><br>
      <ion-card-subtitle>Fecha de estreno inicial:</ion-card-subtitle> 27 de octubre de 2009<br><br>
      <ion-card-subtitle>Modo:</ion-card-subtitle> Videojuego multijugador<br><br>
      <ion-card-subtitle>Plataformas:</ion-card-subtitle> Microsoft Windows, macOS, Mac OS<br><br>
      <ion-card-subtitle>Diseñadores:</ion-card-subtitle> Mark Yetter, Steve Feak, David Capurro, Tom Cadwell, Christina Norman, Rob Garrett<br><br>
      <ion-card-subtitle>Desarrollador: </ion-card-subtitle>Riot Games<br><br>
      <ion-card-subtitle>Premios:</ion-card-subtitle> Premio BAFTA de Videojuegos al Mejor Juego Persistente, MÁS<br><br>
      <ion-card-subtitle>Géneros:</ion-card-subtitle> MOBA, Videojuego de rol de acción<br><br>
      <br><br>
      <ion-card-title>Explicación rápida del Juego</ion-card-title>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/9T6ktFC1n-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
      <ion-card-title>Tips del Juego</ion-card-title>
      <ion-card-subtitle>Como ser el mejor en el Juego!</ion-card-subtitle>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/kADREmu07G4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
      <ion-button href="https://www.leagueoflegends.com/es-es/" target="_blank">Enlace a página oficial</ion-button>  
    </ion-card-content>
  </ion-card>


</ion-content>
