

.noticia-name{
    font-size: 12px;
    text-align:justify
}

.noticia-description{
    text-align:justify
}

ion-toolbar{
    background-color: var(--ion-color-mycolor);
}

#titulokkk, #hamburguesa{
    color: black;
  }


@font-face {
    font-family: 'Open Sans';
    src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVI.woff2) format('woff2');
  }
  *{
    font-family: 'Open Sans', sans-serif;
  }